body {
    margin: 0 10%;
    background: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    padding: 0;
    color: white;
    border-radius: 20px;
    margin: .5em 0;

    .container {
        padding-bottom: 3em;
        .left-col {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

h2 {
    padding: .7em 0;
    margin: 0;
}

input {
    border-radius: 5px;
    width: 5em;
    height: 20px;
    border: none;
    box-shadow: 0 3px 10px black;
}

input:focus {
    outline-color: #007AF3;
}

li {
    margin: .7em .3em;
}

img {
    display: none;
    max-width: 400px;
}

marquee {
    background: #F2F2F2;
    color: #FB3640;
}

button {
    margin-bottom: 2em;
    color: white;
    background: #007AF3;
    border: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    padding: .7em 1.3em;
    cursor: pointer;
}

h1.res {
    margin: 0;
    padding: 1em 0;
}

.hero {
    padding: 5em 2em;

    .container1 {
        
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: grey;
            letter-spacing: .3em;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: 0;

            .covid {
                color: #DD7373;
            }

            .batch {
                color: #3B3561;
            }
        }
    }
}

.tenth-sec {
    background: #2A2B2A;
}

.eleventh-sec {
    background: #FF8966;
}

.twelfth-sec {
    background: #E5446D;

    
}

.result {
    // display: none;
    background: #E5446D;
    height: 90vh;
    font-weight: bold;
    font-size: x-large;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer {
    background: #332E3C;
    padding: .7em 3em;
    
    p {
        margin: 0;
        a {
            color:#007AF3;
        }
    }
}

@media (min-width: 950px) {
    img {
        display: block;
        width: 80%;
        margin-top: 3em;
        padding: 0 2em;
    }

    .container {
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            margin-top: -.3em;
            border-radius: 20%;
        }
    }
    .container1 {
        justify-content: center;
        align-items: center;
        display: flex;

        img {
            margin-top: -1em;
            width: 25%;
        }
    }
}
